body
{
    background: #34495e;
}
.calculadora
{
    background: #e67e22;
    font-size: 16px;
    width: 50%;
}
.calculadora > .titulo
{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cuerpo > form > div > div > div 
{
    margin: 3px;
}

.cuerpo > form > div > div > div > button
{
    width: 100%;
}

.btn-calcular
{
  position: relative;
  margin: auto;
}
